{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Round Two</title>

<meta name="description" content="A simple airplane router. For ground delays' sake.">

<link rel="shortcut icon" href="{% static "optimo/img/favicon.ico" %}">

<link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
<link href="{% static "optimo/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "optimo/css/home.css" %}" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid">
  <div class="row base-container flex-centered">
    <div class="col-xs-2 title">
      <img src="{% static 'optimo/img/plane.svg' %}" class="img-responsive" alt="plane-img">
    </div>
    <div class="col-xs-5 title">
      <p>Round Two.</p>
      <p>A simple airplane router. For ground delays' sake.</p>
    </div>
    <div class="col-xs-5 title">
      <a class="btn btn-default" href="#">Load</a>
    </div>
  </div>
</div>

<script src="{% static "optimo/js/jquery.min.js" %}"></script>
<script src="{% static "optimo/js/bootstrap.min.js" %}"></script>
<script src="{% static "optimo/js/ajaxsetup.js" %}"></script>
<script src="{% static "optimo/js/d3.v3.min.js" %}"></script>
<script src="{% static "optimo/js/home.js" %}"></script>

</body>
</html>
