body {
    font-family: 'Special Elite', cursive;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.base-container {
    padding-left: 5%;
    padding-right: 5%;
}


.flex-centered {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.title {
    margin-top: 2%;
}

.btn-default {
    color: black;
    background-color: white;
    border-color: white;
    border-radius: 0;
}

.btn-default:active,
.btn-default:hover,
.btn-default:focus {
    color: white;
    background-color: black;
    border: 2px solid white;
}
